body{
    background-color: violet;
}

.main-game{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.genius{
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    
}

.blue{
    grid-area: blue;
    background-color: rgb(20, 20, 170);
    border-bottom-right-radius: 100%;
}
.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}
.red{
    grid-area: red;
    background-color: rgb(224, 11, 11);
    border-top-right-radius: 100%;
}
.green{
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.6;
}

.selected1 {
    opacity: 1;
}

@media (main-game: 400px){
    .genius{
        width: 200px;
        height: 200px;
    }
}
